<h1>Contacts</h1>
<p>This demonstrates using the <a href="https://developer.microsoft.com/en-us/graph/docs/api-reference/v1.0/api/user_list_contacts">Graph API Contacts Endpoint</a> to fetch your top 10 contacts:</p>

<mat-progress-bar *ngIf="!contacts" mode="indeterminate"></mat-progress-bar>

<table *ngIf="contacts" mat-table [dataSource]="contacts" class="mat-elevation-z8">
  <ng-container matColumnDef="givenName">
    <th mat-header-cell *matHeaderCellDef>First Name</th>
    <td mat-cell *matCellDef="let element"> {{element.givenName}} </td>
  </ng-container>
  <ng-container matColumnDef="surname">
    <th mat-header-cell *matHeaderCellDef>Last Name</th>
    <td mat-cell *matCellDef="let element"> {{element.surname}} </td>
  </ng-container>
  <ng-container matColumnDef="company">
    <th mat-header-cell *matHeaderCellDef>Company</th>
    <td mat-cell *matCellDef="let element"> {{element.companyName}} </td>
  </ng-container>
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let element"> {{combineEmail(element.emailAddresses)}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
</table>