<h1>Email</h1>
<p>This demonstrates using the <a href="https://developer.microsoft.com/en-us/graph/docs/api-reference/v1.0/api/user_list_messages">Graph API messages endpoint</a> to fetch email from your Outlook inbox:</p>

<mat-progress-bar *ngIf="!messages" mode="indeterminate"></mat-progress-bar>

<table *ngIf="messages" mat-table [dataSource]="messages" class="mat-elevation-z8">
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let element"> {{element.createdDateTime | date:'medium'}} </td>
    </ng-container>
    <ng-container matColumnDef="from">
      <th mat-header-cell *matHeaderCellDef>From</th>
      <td mat-cell *matCellDef="let element"> {{getFromEmail(element)}} </td>
    </ng-container>
    <ng-container matColumnDef="subject">
      <th mat-header-cell *matHeaderCellDef>Subject</th>
      <td mat-cell *matCellDef="let element"> {{element.subject}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
  </table>